* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
}
header img{
    width:160px;
    
    margin-left:135px;
}
header .logo{
    margin-top: 17px;
}

.container {
    width: 450px;
    margin: 50px auto;
    padding: 61px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2 {
    text-align: center;
    margin-bottom: 20px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

input, select {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input:focus, select:focus {
    border-color: #333;
}


    .btn{
        width:100%;
        font-size:1em;
        padding:10px;
        color:white;
        background-color:#d61010;
        border: none;
        border-radius:4px;
    }


.btn:hover {
    background-color: #e66b1c;
}

@media screen and (max-width: 600px) {
  
    
   header img{
    width:100px;
    margin-left:13px;
}}